.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 400px;
}

.wrapper > div {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
}

.wrapper > div:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-auto-columns: 40px;
  grid-auto-rows: 40px;
  grid-template-columns: repeat(auto-fill, 40px);
}

.cell.swept {
  background-color: rgb(179, 179, 179)
}

.cell.swept img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}